button {
	background: none;
	color: inherit;
	border: none;
	outline: none;
	font: inherit;
	text-decoration: inherit;
	text-transform: inherit;
	text-shadow: inherit;
	text-rendering: inherit;
	text-size-adjust: inherit;
	text-indent: inherit;
	text-align: inherit;
	appearance: inherit;
	&:hover,
	&:active,
	&:focus,
	&:focus-visible,
	&:focus-within {
		border: none;
		outline: none;
	}
}
$outline: 0.25rem;
$border: 0.125rem;
$border-width: 0.35rem;

.btn {
	margin: 0.25rem 0.5rem;
	padding: 0.825rem 1.375rem;
	background-color: transparent;
	border: 5px solid rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.25rem;
	font-weight: 550;
	cursor: pointer;
	user-select: none;
	line-height: 1.5;
	transition: all var(--transition-time) ease-in-out;
	background-color: var(--indigo);
	color: var(--bgcolor);
	position: relative;
	overflow: hidden;
	box-shadow: $shadow-3d;
	&::before {
		content: "";
		position: absolute;
		top: 5%;
		left: 50%;
		width: 2.75rem;
		height: 3rem;
		border-radius: 15px 25px 20px 17.5px;
		background-color: rgba(255, 255, 255, 0.3);
		z-index: 0;
		transition: all var(--transition-time) ease-in-out;
		animation: wavy 10s linear infinite;
	}
	@include respond(phone) {
		padding: 0.6rem 0.75rem;
	}
	&-sm {
		font-size: 0.875rem;
		padding: 0.6rem 1rem;
		font-weight: 400;
	}
	&-lg {
		font-size: 1.125rem;
		padding: 1rem 1.6rem;
		font-weight: 550;
	}
	&:hover {
		border: 5px solid rgba(255, 255, 255, 0.1);
		&::before {
			width: 100%;
			height: 100%;
			background-color: rgba(255, 255, 255, 0.1);
			top: 0;
			left: 0;
			border-radius: 0;
			animation: none;
		}
	}
	&:active,
	&:focus {
		border: 5px solid rgba(0, 0, 0, 0.5);
	}
}
@keyframes wavy {
	0% {
		transform: rotate(0deg);
		left: 0%;
	}
	10% {
		transform: rotate(36deg);
		left: 16%;
	}
	20% {
		transform: rotate(72deg);
		left: 32%;
	}
	30% {
		transform: rotate(108deg);
		left: 48%;
	}
	40% {
		transform: rotate(144deg);
		left: 64%;
	}
	50% {
		transform: rotate(180deg);
		left: 80%;
	}
	60% {
		transform: rotate(216deg);
		left: 64%;
	}
	70% {
		transform: rotate(252deg);
		left: 48%;
	}
	80% {
		transform: rotate(288deg);
		left: 32%;
	}
	90% {
		transform: rotate(234deg);
		left: 16%;
	}
	100% {
		transform: rotate(360deg);
		left: 0%;
	}
}
