.header {
	width: 100%;
	height: $head-height;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: $shadow-3d;
	&-left {
		width: 20%;
		height: 100%;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		&-logo {
			width: 50%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			& a {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			&__img {
				object-fit: cover;
				max-width: 85%;
				max-height: 85%;
			}
			&:nth-child(1) {
				@include respond(tab) {
					width: 100%;
				}
			}
			&:nth-child(2) {
				@include respond(tab) {
					display: none;
					width: 0;
				}
			}
		}
	}
	&-right {
		height: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		&-nav {
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			&__ul {
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				list-style: none;
				padding: 0 2rem;
				@include respond(phone) {
					padding: 0;
				}
			}
			&__link {
				margin: 0 0.5rem;
				padding: 0 0.5rem;
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				& > * {
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 0.25rem;
				}
				& .material-icons {
					display: none;
					@include respond(phone) {
						display: flex;
					}
				}
				& .text {
					display: flex;
					@include respond(phone) {
						display: none;
					}
				}
			}
		}
	}
}
