/* @mixin respond($breakpoint){
    @if $breakpoint == phone{
        @media (max-width: 576px){@content};
    }
    @if $breakpoint == tab{
        @media (max-width: 768px){@content};
    }
    @if $breakpoint == main{
        @media (max-width: 992px){@content};
    }
    @if $breakpoint == big-desk{
        @media (min-width: 992px){@content};
    }
} */
// my breakpoints: --phone(<=672)--tab(>672&&<880)--dektop(>=880)--

@mixin respond($breakpoint) {
	@if $breakpoint == phone {
		@media (max-width: 672px) {
			@content;
		}
	}
	@if $breakpoint == tab {
		@media (max-width: 880px) {
			@content;
		}
	}
	@if $breakpoint == main {
		@media (min-width: 880px) {
			@content;
		}
	}
}

.row {
	width: 100%;
	max-height: 100%;
	display: flex;
	flex-wrap: wrap;
	& > * {
		width: 100%;
		max-width: 100%;
	}
}
[class^="col"] {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
@media (min-width: 880px) {
	.row {
		& .col-lg {
			&-100 {
				width: 100%;
			}
			&-83 {
				width: 83.333%;
			}
			&-80 {
				width: 80%;
			}
			&-75 {
				width: 75%;
			}
			&-70 {
				width: 70%;
			}
			&-66 {
				width: 66.666%;
			}
			&-60 {
				width: 60%;
			}
			&-50 {
				width: 50%;
			}
			&-40 {
				width: 40%;
			}
			&-33 {
				width: 33.333%;
			}
			&-30 {
				width: 30%;
			}
			&-25 {
				width: 25%;
			}
			&-20 {
				width: 20%;
			}
			&-16 {
				width: 16.666%;
			}
			&-10 {
				width: 10%;
			}
		}
	}
}
@media (min-width: 672px) and (max-width: 879.98px) {
	.row {
		& .col-md {
			&-100 {
				width: 100%;
			}
			&-83 {
				width: 83.333%;
			}
			&-80 {
				width: 80%;
			}
			&-75 {
				width: 75%;
			}
			&-70 {
				width: 70%;
			}
			&-66 {
				width: 66.666%;
			}
			&-60 {
				width: 60%;
			}
			&-50 {
				width: 50%;
			}
			&-40 {
				width: 40%;
			}
			&-33 {
				width: 33.333%;
			}
			&-30 {
				width: 30%;
			}
			&-25 {
				width: 25%;
			}
			&-20 {
				width: 20%;
			}
			&-16 {
				width: 16.666%;
			}
			&-10 {
				width: 10%;
			}
		}
	}
}
@media (max-width: 671.98px) {
	.row {
		& .col-sm {
			&-100 {
				width: 100%;
			}
			&-83 {
				width: 83.333%;
			}
			&-80 {
				width: 80%;
			}
			&-75 {
				width: 75%;
			}
			&-70 {
				width: 70%;
			}
			&-66 {
				width: 66.666%;
			}
			&-60 {
				width: 60%;
			}
			&-50 {
				width: 50%;
			}
			&-40 {
				width: 40%;
			}
			&-33 {
				width: 33.333%;
			}
			&-30 {
				width: 30%;
			}
			&-25 {
				width: 25%;
			}
			&-20 {
				width: 20%;
			}
			&-16 {
				width: 16.666%;
			}
			&-10 {
				width: 10%;
			}
		}
	}
}
