$white-light: #fefefe;
$white-dark: #dedede;
$black-light: #323232;
$black-dark: #212121;
$back-shadow: rgba(0, 0, 0, 0.2);
$back-shadow-light: rgba(0, 0, 0, 0.1);
$head-height: 12.5vh;
$side-width: 17.5%;
$blue: #4285f4;
$red: #ea4335;
$yellow: #fbbc05;
$green: #34a853;
$border-radius: 10px;
$shadow-3d: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
	0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
	0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
	0 100px 80px rgba(0, 0, 0, 0.12);
