@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Audiowide&family=Montserrat&family=Open+Sans&family=Roboto&family=Sacramento&family=Caveat&family=Architects+Daughter&family=Indie+Flower&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

:root {
  --bgcolor: #f0f0f0;
  --bgcolor-400: #d2d2d2;
  --bgcolor-100: #e1e1e1;
  --bgcolor-700: #c3c3c3;
  --tcolor: #121212;
  --tcolor-100: #333333;
  --tcolor-400: #272727;
  --tcolor-700: #1d1d1d;
  --back-shadow: rgba(0, 0, 0, 0.2);
  --back-shadow-light: rgba(0, 0, 0, 0.1);
  --transition-time: 200ms;
  --red: #f44336;
  --red-100: #ffcdd2;
  --red-400: #ef5350;
  --red-700: #d32f2f;
  --pink: #e91e63;
  --pink-100: #f8bbd0;
  --pink-400: #ec407a;
  --pink-700: #c2185b;
  --purple: #9c27b0;
  --purple-100: #e1bee7;
  --purple-400: #ab47bc;
  --purple-700: #7b1fa2;
  --dark-purple: #673ab7;
  --dark-purple-100: #d1c4e9;
  --dark-purple-400: #7e57c2;
  --dark-purple-700: #512da8;
  --indigo: #3f51b5;
  --indigo-100: #c5cae9;
  --indigo-400: #5c6bc0;
  --indigo-700: #303f9f;
  --blue: #2196f3;
  --blue-100: #bbdefb;
  --blue-400: #42a5f5;
  --blue-700: #1976d2;
  --light-blue: #03a9f4;
  --light-blue-100: #b3e5fc;
  --light-blue-400: #29b6f6;
  --light-blue-700: #0288d1;
  --cyan: #00bcd4;
  --cyan-100: #b2ebf2;
  --cyan-400: #26c6da;
  --cyan-700: #0097a7;
  --green: #4caf50;
  --green-100: #c8e6c9;
  --green-400: #66bb6a;
  --green-700: #388e3c;
  --light-green: #8bc34a;
  --light-green-100: #dcedc8;
  --light-green-400: #9ccc65;
  --light-green-700: #689f38;
  --yellow: #ffeb3b;
  --yellow-100: #fff9c4;
  --yellow-400: #ffee58;
  --yellow-700: #fbc02d;
  --orange: #ff9800;
  --orange-100: #ffe0b2;
  --orange-400: #ffa726;
  --orange-700: #f57c00;
  --deep-orange: #ff5722;
  --deep-orange-100: #ffccbc;
  --deep-orange-400: #ff7043;
  --deep-orange-700: #e64a19;
  --brown: #795548;
  --brown-100: #d7ccc8;
  --brown-400: #8d6e63;
  --brown-700: #5d4037;
  --grey: #9e9e9e;
  --grey-100: #f5f5f5;
  --grey-400: #bdbdbd;
  --grey-700: #616161;
  --blue-grey: #607d8b;
  --blue-grey-100: #cfd8dc;
  --blue-grey-400: #78909c;
  --blue-grey-700: #455a64;
  --blue: #4285f4;
  --red: #ea4335;
  --yellow: #fbbc05;
  --green: #34a853; }

.light {
  --bgcolor: #f0f0f0;
  --bgcolor-100: #e1e1e1;
  --bgcolor-400: #d2d2d2;
  --bgcolor-700: #c3c3c3;
  --tcolor: #121212;
  --tcolor-100: #333333;
  --tcolor-400: #272727;
  --tcolor-700: #1d1d1d;
  --back-shadow: rgba(0, 0, 0, 0.2);
  --back-shadow-light: rgba(0, 0, 0, 0.1); }

.dark {
  --bgcolor: #121212;
  --bgcolor-100: #333333;
  --bgcolor-400: #272727;
  --bgcolor-700: #1d1d1d;
  --tcolor: #f0f0f0;
  --tcolor-100: #e1e1e1;
  --tcolor-400: #d2d2d2;
  --tcolor-700: #c3c3c3;
  --back-shadow: rgba(255, 255, 255, 0.2);
  --back-shadow-light: rgba(255, 255, 255, 0.1); }

/* @mixin respond($breakpoint){
    @if $breakpoint == phone{
        @media (max-width: 576px){@content};
    }
    @if $breakpoint == tab{
        @media (max-width: 768px){@content};
    }
    @if $breakpoint == main{
        @media (max-width: 992px){@content};
    }
    @if $breakpoint == big-desk{
        @media (min-width: 992px){@content};
    }
} */
.row {
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-wrap: wrap; }
  .row > * {
    width: 100%; }

[class^="col"] {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }

@media (min-width: 880px) {
  .row .col-lg-100 {
    width: 100%; }
  .row .col-lg-83 {
    width: 83.333%; }
  .row .col-lg-80 {
    width: 80%; }
  .row .col-lg-75 {
    width: 75%; }
  .row .col-lg-70 {
    width: 70%; }
  .row .col-lg-66 {
    width: 66.666%; }
  .row .col-lg-60 {
    width: 60%; }
  .row .col-lg-50 {
    width: 50%; }
  .row .col-lg-40 {
    width: 40%; }
  .row .col-lg-33 {
    width: 33.333%; }
  .row .col-lg-30 {
    width: 30%; }
  .row .col-lg-25 {
    width: 25%; }
  .row .col-lg-20 {
    width: 20%; }
  .row .col-lg-16 {
    width: 16.666%; }
  .row .col-lg-10 {
    width: 10%; } }

@media (min-width: 672px) and (max-width: 879.98px) {
  .row .col-md-100 {
    width: 100%; }
  .row .col-md-83 {
    width: 83.333%; }
  .row .col-md-80 {
    width: 80%; }
  .row .col-md-75 {
    width: 75%; }
  .row .col-md-70 {
    width: 70%; }
  .row .col-md-66 {
    width: 66.666%; }
  .row .col-md-60 {
    width: 60%; }
  .row .col-md-50 {
    width: 50%; }
  .row .col-md-40 {
    width: 40%; }
  .row .col-md-33 {
    width: 33.333%; }
  .row .col-md-30 {
    width: 30%; }
  .row .col-md-25 {
    width: 25%; }
  .row .col-md-20 {
    width: 20%; }
  .row .col-md-16 {
    width: 16.666%; }
  .row .col-md-10 {
    width: 10%; } }

@media (max-width: 671.98px) {
  .row .col-sm-100 {
    width: 100%; }
  .row .col-sm-83 {
    width: 83.333%; }
  .row .col-sm-80 {
    width: 80%; }
  .row .col-sm-75 {
    width: 75%; }
  .row .col-sm-70 {
    width: 70%; }
  .row .col-sm-66 {
    width: 66.666%; }
  .row .col-sm-60 {
    width: 60%; }
  .row .col-sm-50 {
    width: 50%; }
  .row .col-sm-40 {
    width: 40%; }
  .row .col-sm-33 {
    width: 33.333%; }
  .row .col-sm-30 {
    width: 30%; }
  .row .col-sm-25 {
    width: 25%; }
  .row .col-sm-20 {
    width: 20%; }
  .row .col-sm-16 {
    width: 16.666%; }
  .row .col-sm-10 {
    width: 10%; } }

html {
  font-size: 16px; }
  @media (max-width: 672px) {
    html {
      font-size: 12px; } }

body,
#root {
  font-family: "Google Sans", Cabin, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  background-color: var(--bgcolor);
  color: var(--tcolor);
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  letter-spacing: 0.025rem;
  word-spacing: 0.25rem;
  line-height: 1.25rem;
  transition: all var(--transition-time) ease-in-out;
  overflow-x: hidden; }

#root {
  width: 100%;
  height: 100%; }

a {
  text-decoration: none;
  color: var(--tcolor);
  border: none;
  outline: none; }
  a:hover, a:active, a:focus, a:visited {
    border: none;
    outline: none;
    border: none;
    outline: none; }

img {
  pointer-events: none; }

.header {
  width: 100%;
  height: 12.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12); }
  .header-left {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .header-left-logo {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .header-left-logo a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
      .header-left-logo__img {
        object-fit: cover;
        max-width: 90%;
        max-height: 100%; }
  .header-right {
    height: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header-right-nav {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .header-right-nav__ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        padding: 0 2rem; }
      .header-right-nav__link {
        padding: 0 0.5rem; }

.home {
  width: 100%;
  height: 100vh;
  color: var(--bgcolor); }
  .home-hero {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-attachment: fixed;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.75);
    background-size: cover; }
    .home-hero-image {
      width: 100%;
      height: 60%;
      display: flex;
      justify-content: center;
      align-items: flex-end; }
      .home-hero-image__img {
        object-fit: cover;
        max-width: 90%;
        max-height: 90%; }
    .home-hero-content {
      width: 100%;
      height: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
      font-size: 3rem;
      line-height: 4rem;
      font-family: Audiowide, sans-serif; }
    .home-hero::after {
      font-family: "Material Icons";
      content: "expand_more";
      display: flex;
      flex-flow: column;
      position: absolute;
      top: 95%;
      font-size: 1.5rem;
      transition: all var(--transition-time) ease-in-out;
      animation: bounce 2s ease-in-out infinite; }
  .home-about {
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.75);
    background-size: cover; }

@keyframes bounce {
  0% {
    transform: translateY(0); }
  25% {
    transform: translateY(-0.25rem); }
  50% {
    transform: translateY(0); }
  75% {
    transform: translateY(0.25rem); }
  100% {
    transform: translateY(0); } }

::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(0, 0, 0, 0.01);
  border: 4px solid transparent; }
  ::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.2); }
  ::-webkit-scrollbar-thumb {
    background-color: #7a7a7a; }
    ::-webkit-scrollbar-thumb:hover {
      background-color: #525252; }

.material-icons {
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; }

.dispn {
  display: none !important; }
