@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Audiowide&family=Montserrat&family=Open+Sans&family=Roboto&family=Sacramento&family=Caveat&family=Architects+Daughter&family=Indie+Flower&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

:root {
  --bgcolor: #f0f0f0;
  --bgcolor-400: #d2d2d2;
  --bgcolor-100: #e1e1e1;
  --bgcolor-700: #c3c3c3;
  --tcolor: #121212;
  --tcolor-100: #333333;
  --tcolor-400: #272727;
  --tcolor-700: #1d1d1d;
  --primary-1: #2d9aa6;
  --primary-2: #9ad2d9;
  --primary-3: #f2f2f2;
  --primary-4: #404040;
  --primary-5: #0d0d0d;
  --secondary: #2d4a69;
  --secondary-100: #6e859d;
  --secondary-400: #476380;
  --secondary-600: #193653;
  --secondary-700: #082038;
  --tertiary: #1d3df2;
  --tertiary-100: #417cf2;
  --tertiary-400: #003cf2;
  --tertiary-600: #0014be;
  --tertiary-700: #041159;
  --tertiary-800: #010326;
  --mac-red: #f35a56;
  --mac-yellow: #febc33;
  --mac-green: #5ec341;
  --mac-bgcolor: #161719;
  --mac-tcolor: #4fc2ee;
  --back-shadow: rgba(0, 0, 0, 0.2);
  --back-shadow-light: rgba(0, 0, 0, 0.1);
  --transition-time: 200ms;
  --red: #f44336;
  --red-100: #ffcdd2;
  --red-400: #ef5350;
  --red-700: #d32f2f;
  --pink: #e91e63;
  --pink-100: #f8bbd0;
  --pink-400: #ec407a;
  --pink-700: #c2185b;
  --purple: #9c27b0;
  --purple-100: #e1bee7;
  --purple-400: #ab47bc;
  --purple-700: #7b1fa2;
  --dark-purple: #673ab7;
  --dark-purple-100: #d1c4e9;
  --dark-purple-400: #7e57c2;
  --dark-purple-700: #512da8;
  --indigo: #3f51b5;
  --indigo-100: #c5cae9;
  --indigo-400: #5c6bc0;
  --indigo-700: #303f9f;
  --blue: #2196f3;
  --blue-100: #bbdefb;
  --blue-400: #42a5f5;
  --blue-700: #1976d2;
  --light-blue: #03a9f4;
  --light-blue-100: #b3e5fc;
  --light-blue-400: #29b6f6;
  --light-blue-700: #0288d1;
  --cyan: #00bcd4;
  --cyan-100: #b2ebf2;
  --cyan-400: #26c6da;
  --cyan-700: #0097a7;
  --green: #4caf50;
  --green-100: #c8e6c9;
  --green-400: #66bb6a;
  --green-700: #388e3c;
  --light-green: #8bc34a;
  --light-green-100: #dcedc8;
  --light-green-400: #9ccc65;
  --light-green-700: #689f38;
  --yellow: #ffeb3b;
  --yellow-100: #fff9c4;
  --yellow-400: #ffee58;
  --yellow-700: #fbc02d;
  --orange: #ff9800;
  --orange-100: #ffe0b2;
  --orange-400: #ffa726;
  --orange-700: #f57c00;
  --deep-orange: #ff5722;
  --deep-orange-100: #ffccbc;
  --deep-orange-400: #ff7043;
  --deep-orange-700: #e64a19;
  --brown: #795548;
  --brown-100: #d7ccc8;
  --brown-400: #8d6e63;
  --brown-700: #5d4037;
  --grey: #9e9e9e;
  --grey-100: #f5f5f5;
  --grey-400: #bdbdbd;
  --grey-700: #616161;
  --blue-grey: #607d8b;
  --blue-grey-100: #cfd8dc;
  --blue-grey-400: #78909c;
  --blue-grey-700: #455a64;
  --blue: #4285f4;
  --red: #ea4335;
  --yellow: #fbbc05;
  --green: #34a853; }

/* @mixin respond($breakpoint){
    @if $breakpoint == phone{
        @media (max-width: 576px){@content};
    }
    @if $breakpoint == tab{
        @media (max-width: 768px){@content};
    }
    @if $breakpoint == main{
        @media (max-width: 992px){@content};
    }
    @if $breakpoint == big-desk{
        @media (min-width: 992px){@content};
    }
} */
.row {
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-wrap: wrap; }
  .row > * {
    width: 100%;
    max-width: 100%; }

[class^="col"] {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }

@media (min-width: 880px) {
  .row .col-lg-100 {
    width: 100%; }
  .row .col-lg-83 {
    width: 83.333%; }
  .row .col-lg-80 {
    width: 80%; }
  .row .col-lg-75 {
    width: 75%; }
  .row .col-lg-70 {
    width: 70%; }
  .row .col-lg-66 {
    width: 66.666%; }
  .row .col-lg-60 {
    width: 60%; }
  .row .col-lg-50 {
    width: 50%; }
  .row .col-lg-40 {
    width: 40%; }
  .row .col-lg-33 {
    width: 33.333%; }
  .row .col-lg-30 {
    width: 30%; }
  .row .col-lg-25 {
    width: 25%; }
  .row .col-lg-20 {
    width: 20%; }
  .row .col-lg-16 {
    width: 16.666%; }
  .row .col-lg-10 {
    width: 10%; } }

@media (min-width: 672px) and (max-width: 879.98px) {
  .row .col-md-100 {
    width: 100%; }
  .row .col-md-83 {
    width: 83.333%; }
  .row .col-md-80 {
    width: 80%; }
  .row .col-md-75 {
    width: 75%; }
  .row .col-md-70 {
    width: 70%; }
  .row .col-md-66 {
    width: 66.666%; }
  .row .col-md-60 {
    width: 60%; }
  .row .col-md-50 {
    width: 50%; }
  .row .col-md-40 {
    width: 40%; }
  .row .col-md-33 {
    width: 33.333%; }
  .row .col-md-30 {
    width: 30%; }
  .row .col-md-25 {
    width: 25%; }
  .row .col-md-20 {
    width: 20%; }
  .row .col-md-16 {
    width: 16.666%; }
  .row .col-md-10 {
    width: 10%; } }

@media (max-width: 671.98px) {
  .row .col-sm-100 {
    width: 100%; }
  .row .col-sm-83 {
    width: 83.333%; }
  .row .col-sm-80 {
    width: 80%; }
  .row .col-sm-75 {
    width: 75%; }
  .row .col-sm-70 {
    width: 70%; }
  .row .col-sm-66 {
    width: 66.666%; }
  .row .col-sm-60 {
    width: 60%; }
  .row .col-sm-50 {
    width: 50%; }
  .row .col-sm-40 {
    width: 40%; }
  .row .col-sm-33 {
    width: 33.333%; }
  .row .col-sm-30 {
    width: 30%; }
  .row .col-sm-25 {
    width: 25%; }
  .row .col-sm-20 {
    width: 20%; }
  .row .col-sm-16 {
    width: 16.666%; }
  .row .col-sm-10 {
    width: 10%; } }

html {
  font-size: 16px; }
  @media (max-width: 880px) {
    html {
      font-size: 14px; } }
  @media (max-width: 672px) {
    html {
      font-size: 12px; } }

body,
#root {
  font-family: "Google Sans", Cabin, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  background-color: var(--bgcolor);
  color: var(--tcolor);
  width: 100%;
  display: flex;
  flex-flow: column;
  letter-spacing: 0.025rem;
  word-spacing: 0.25rem;
  line-height: 1.25rem;
  transition: all var(--transition-time) ease-in-out; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover, a:active, a:focus, a:visited {
    border: none;
    outline: none; }

main {
  min-height: 47.5vh; }

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: rgba(0, 0, 0, 0.99);
  border: 4px solid transparent; }
  ::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.2); }
  ::-webkit-scrollbar-thumb {
    background-color: #7a7a7a; }
    ::-webkit-scrollbar-thumb:hover {
      background-color: #525252; }

.home-about-content-head,
.home-navigation-link,
.team-head-head,
.team-section__head span {
  padding: 1rem;
  font-size: 2rem;
  font-family: Audiowide, sans-serif;
  position: relative;
  transition: all var(--transition-time) ease-in-out;
  white-space: nowrap; }

.home-about-content-head,
.home-navigation-link a,
.team-head-head,
.team-section__head span {
  transition: all var(--transition-time) ease-in-out; }
  .home-about-content-head::after,
  .home-navigation-link a::after,
  .team-head-head::after,
  .team-section__head span::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 25%;
    background-color: rgba(255, 255, 255, 0.15);
    width: 80%;
    height: 50%;
    transition: all var(--transition-time) ease-in-out; }
  .home-about-content-head:hover,
  .home-navigation-link a:hover,
  .team-head-head:hover,
  .team-section__head span:hover {
    font-size: 2.1rem; }
  .home-about-content-head:hover::after,
  .home-navigation-link a:hover::after,
  .team-head-head:hover::after,
  .team-section__head span:hover::after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.home-about-image,
.about-body-image,
.events-event-image {
  display: flex;
  justify-content: center;
  align-items: center; }
  .home-about-image img,
  .about-body-image img,
  .events-event-image img {
    object-fit: cover;
    max-width: 85%;
    max-height: 85%;
    transition: all var(--transition-time) ease-in-out;
    filter: opacity(0.85);
    transform: scale(1.025);
    padding: 1rem;
    border: 10px solid transparent; }
    .home-about-image img:hover,
    .about-body-image img:hover,
    .events-event-image img:hover {
      filter: opacity(1);
      transform: scale(1);
      border-top: 10px solid rgba(255, 255, 255, 0.25);
      border-right: 10px solid rgba(255, 255, 255, 0.1);
      border-bottom: 10px solid rgba(255, 255, 255, 0.1);
      border-left: 10px solid rgba(255, 255, 255, 0.25);
      padding: 1rem; }

.event,
.team-section__body .person-box,
.timeline,
.contact,
.home > * {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center; }

.header {
  width: 100%;
  height: 12.5vh;
  background-color: var(--indigo-700);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12); }
  .header-left {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .header-left-logo {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .header-left-logo a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
      .header-left-logo__img {
        object-fit: cover;
        max-width: 85%;
        max-height: 85%; }
      @media (max-width: 880px) {
        .header-left-logo:nth-child(1) {
          width: 100%; } }
      @media (max-width: 880px) {
        .header-left-logo:nth-child(2) {
          display: none;
          width: 0; } }
  .header-right {
    height: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header-right-nav {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .header-right-nav__ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        padding: 0 2rem; }
        @media (max-width: 672px) {
          .header-right-nav__ul {
            padding: 0; } }
      .header-right-nav__link {
        margin: 0 0.5rem;
        padding: 0 0.5rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        transition: all var(--transition-time) ease-in-out; }
        .header-right-nav__link > * {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0.25rem; }
        .header-right-nav__link:hover {
          color: rgba(240, 240, 240, 0.75); }
        .header-right-nav__link .material-icons {
          display: none; }
          @media (max-width: 672px) {
            .header-right-nav__link .material-icons {
              display: flex; } }
        .header-right-nav__link .text {
          display: flex; }
          @media (max-width: 672px) {
            .header-right-nav__link .text {
              display: none; } }

.home {
  width: 100%;
  min-height: 100vh;
  color: var(--bgcolor); }
  .home > * {
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.9); }
  .home-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column; }
    .home-hero-image {
      width: 100%;
      height: 60%;
      display: flex;
      justify-content: center;
      align-items: flex-end; }
      .home-hero-image__img {
        object-fit: cover;
        max-width: 90%;
        max-height: 90%; }
    .home-hero-content {
      width: 100%;
      height: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      line-height: 4rem;
      position: relative;
      z-index: 20;
      transition: all var(--transition-time) ease-in-out;
      top: 0;
      left: 0;
      font-family: Audiowide, sans-serif; }
      .home-hero-content-left, .home-hero-content-right {
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
        .home-hero-content-left__img, .home-hero-content-right__img {
          object-fit: cover;
          max-width: 85%;
          max-height: 85%; }
        @media (max-width: 880px) {
          .home-hero-content-left, .home-hero-content-right {
            width: 0; } }
      .home-hero-content-mid {
        width: 50%;
        height: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center; }
        .home-hero-content-mid span {
          transition: all var(--transition-time) ease-in-out; }
        @media (max-width: 880px) {
          .home-hero-content-mid {
            width: 100%; } }
      .home-hero-content::after {
        font-family: "Material Icons";
        content: "expand_more";
        position: absolute;
        top: 80%;
        font-size: 1.5rem;
        color: var(--primary-4);
        animation: bounce 2s ease-in-out infinite; }
  .home-about {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-flow: column;
    align-items: center; }
    .home-about-container {
      width: 75%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      @media (max-width: 880px) {
        .home-about-container {
          width: 90%; } }
      @media (max-width: 672px) {
        .home-about-container {
          width: 100%; } }
    .home-about:nth-child(1) .home-about-container {
      flex-flow: row-reverse; }
      @media (max-width: 880px) {
        .home-about:nth-child(1) .home-about-container {
          flex-flow: column; } }
    .home-about:nth-child(2) .home-about-container {
      flex-flow: row; }
      @media (max-width: 880px) {
        .home-about:nth-child(2) .home-about-container {
          flex-flow: column; } }
    .home-about:nth-child(3) .home-about-container {
      flex-flow: row-reverse; }
      @media (max-width: 880px) {
        .home-about:nth-child(3) .home-about-container {
          flex-flow: column; } }
    .home-about:nth-child(4) .home-about-container {
      flex-flow: row; }
      @media (max-width: 880px) {
        .home-about:nth-child(4) .home-about-container {
          flex-flow: column; } }
    .home-about-image {
      width: 50%;
      height: 100%; }
      @media (max-width: 880px) {
        .home-about-image {
          width: 100%; } }
    .home-about-content {
      width: 50%;
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: center; }
      .home-about-content-head {
        width: fit-content;
        display: flex;
        align-items: center; }
      .home-about-content-body {
        width: 100%;
        padding: 1rem;
        font-size: 1.5rem;
        line-height: 1.75rem;
        font-weight: 100; }
        .home-about-content-body ul {
          margin: 1rem 0; }
        .home-about-content-body li {
          padding: 0.25rem 0; }
          .home-about-content-body li::marker {
            content: " > "; }
      @media (max-width: 880px) {
        .home-about-content {
          width: 100%; } }
  .home-navigation {
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-flow: column; }
    @media (max-width: 880px) {
      .home-navigation {
        height: 50vh; } }
    .home-navigation-top, .home-navigation-bottom {
      width: 100%;
      height: 25%;
      display: flex;
      justify-content: space-evenly;
      align-items: center; }
    .home-navigation-mid {
      width: 100%;
      height: 50%;
      display: flex; }
      .home-navigation-mid-left, .home-navigation-mid-right {
        width: 25%;
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        align-items: center; }
        @media (max-width: 880px) {
          .home-navigation-mid-left, .home-navigation-mid-right {
            width: 50%; } }
      .home-navigation-mid-mid {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: visible; }
        .home-navigation-mid-mid img {
          object-fit: cover;
          max-width: 100%;
          max-height: 100%; }
        @media (max-width: 880px) {
          .home-navigation-mid-mid {
            width: 0;
            display: none; } }
    .home-navigation-link {
      width: fit-content;
      display: flex;
      align-items: center; }
  .home-duration {
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
    .home-duration-timer {
      width: 60%;
      height: 100%;
      font-size: 4.5rem;
      font-weight: 700;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      color: var(--light-blue); }
      @media (max-width: 880px) {
        .home-duration-timer {
          font-size: 3.5rem; } }
      @media (max-width: 672px) {
        .home-duration-timer {
          font-size: 2.5rem; } }
      .home-duration-timer span {
        font-size: 1.5rem;
        font-weight: 400;
        margin: 0 0.5rem;
        font-family: Audiowide, sans-serif; }
        @media (max-width: 672px) {
          .home-duration-timer span {
            font-size: 1rem; } }
      @media (max-width: 880px) {
        .home-duration-timer {
          width: 100%; } }
  .home-buttons {
    height: 10rem;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-evenly;
    align-items: center; }

@keyframes bounce {
  0% {
    transform: translateY(0); }
  25% {
    transform: translateY(-0.25rem); }
  50% {
    transform: translateY(0); }
  75% {
    transform: translateY(0.25rem); }
  100% {
    transform: translateY(0); } }

.footer {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-flow: column;
  overflow: hidden;
  background-color: var(--tertiary-800);
  color: var(--bgcolor); }
  .footer-top {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer-top-side {
      width: 25%;
      height: 100%; }
      .footer-top-side-logo, .footer-top-side-logo__link {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
      .footer-top-side-logo__img {
        object-fit: cover;
        max-width: 70%;
        max-height: 70%; }
      @media (max-width: 880px) {
        .footer-top-side {
          width: 0;
          display: none; } }
    .footer-top-mid {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column; }
      @media (max-width: 880px) {
        .footer-top-mid {
          width: 100%; } }
      .footer-top-mid-top, .footer-top-mid-bottom {
        height: 30%; }
        .footer-top-mid-top, .footer-top-mid-top__text, .footer-top-mid-bottom, .footer-top-mid-bottom__text {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 2.25rem;
          line-height: 2.5rem; }
      .footer-top-mid-mid {
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center; }
        .footer-top-mid-mid-socials {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center; }
        .footer-top-mid-mid__social {
          width: 15%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center; }
          .footer-top-mid-mid__social__link {
            width: 3.5rem;
            display: flex;
            justify-content: center;
            align-items: center; }
          .footer-top-mid-mid__social__img {
            object-fit: cover;
            max-width: 60%;
            max-height: 60%;
            filter: invert(1); }
  .footer-bottom {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); }
    .footer-bottom-events {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap; }
    .footer-bottom__event {
      padding: 0.25rem 1rem; }

.contact {
  width: 100%;
  height: 100vh;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center; }
  .contact-box {
    width: 85%;
    height: 90%;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--tertiary-700); }
    @media (max-width: 880px) {
      .contact-box {
        clip-path: none;
        width: 90%; } }
    @media (max-width: 672px) {
      .contact-box {
        width: 95%; } }
  .contact-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column; }
  .contact-head {
    width: 100%;
    height: 10%;
    font-family: Montserrat, sans-serif;
    color: var(--bgcolor);
    text-align: center;
    font-size: 3.5rem;
    line-height: 4rem;
    padding: 1rem 0;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden; }
    @media (max-width: 880px) {
      .contact-head {
        font-size: 3.4rem; } }
    @media (max-width: 672px) {
      .contact-head {
        font-size: 3rem; } }
  .contact-form {
    width: 75%;
    height: 80%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center; }
    @media (max-width: 880px) {
      .contact-form {
        width: 85%; } }
    @media (max-width: 672px) {
      .contact-form {
        width: 95%; } }
    .contact-form input,
    .contact-form textarea {
      width: 75%;
      background-color: rgba(255, 255, 255, 0.25);
      color: var(--bgcolor);
      border-radius: 0; }
      .contact-form input::placeholder,
      .contact-form textarea::placeholder {
        color: var(--bgcolor-700);
        font-size: 1rem; }
      @media (max-width: 880px) {
        .contact-form input,
        .contact-form textarea {
          width: 85%; } }
      @media (max-width: 672px) {
        .contact-form input,
        .contact-form textarea {
          width: 95%; } }
    .contact-form input {
      height: 10%; }
      @media (max-width: 880px) {
        .contact-form input {
          height: 7.5%; } }
      @media (max-width: 672px) {
        .contact-form input {
          height: 5%; } }
    .contact-form textarea {
      height: 45%; }

.team {
  width: 100%;
  min-height: 200vh;
  background-attachment: fixed;
  background-color: var(--tertiary-700);
  color: var(--bgcolor);
  background-image: url("https://www.transparenttextures.com/patterns/crissxcross.png"); }
  .team-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column; }
  .team-head, .team-body, .team-section {
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: column;
    font-family: Audiowide, sans-serif; }
  .team-head {
    height: 12.5vh;
    justify-content: center; }
  .team-section {
    min-height: 8.33333vh;
    justify-content: flex-start;
    font-size: 2rem; }
    .team-section__head {
      width: 100%;
      padding: 0 0.5rem;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
    .team-section__body {
      width: 100%;
      height: 100%;
      padding: 2.5rem 0;
      color: var(--tcolor); }
      .team-section__body .person {
        width: 100%;
        height: 20rem;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center; }
        @media (max-width: 672px) {
          .team-section__body .person {
            height: 17.5rem; } }
        .team-section__body .person-box {
          width: 15rem;
          height: 15rem;
          border-radius: 500px;
          font-size: 0.875rem;
          background-blend-mode: lighten;
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;
          transition: all var(--transition-time) ease-in-out;
          outline: 12px solid transparent;
          transform: scale(1); }
          @media (max-width: 672px) {
            .team-section__body .person-box {
              width: 12.5rem;
              height: 12.5rem; } }
          .team-section__body .person-box > * {
            opacity: 0;
            width: 100%;
            visibility: hidden;
            transition: all var(--transition-time) ease-in-out; }
          .team-section__body .person-box:hover {
            background-color: rgba(255, 255, 255, 0.5);
            outline: 12px solid rgba(255, 255, 255, 0.25);
            transform: scale(1.05);
            box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12); }
            .team-section__body .person-box:hover > * {
              opacity: 1;
              visibility: visible; }
        .team-section__body .person-name, .team-section__body .person-subtitle {
          height: 30%;
          font-size: 1.25rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: flex;
          justify-content: center;
          align-items: flex-end; }
        .team-section__body .person-subtitle {
          height: 20%;
          font-size: 0.9rem;
          align-items: center;
          font-family: "Google Sans", Cabin, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
        .team-section__body .person-socials {
          height: 25%;
          display: flex;
          justify-content: center;
          align-items: center; }
        .team-section__body .person-social {
          width: 20%;
          height: 100%; }
          .team-section__body .person-social a {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center; }
          .team-section__body .person-social img {
            object-fit: cover;
            max-width: 50%;
            max-height: 50%; }

.timeline {
  width: 100%;
  min-height: 100vh;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.75);
  background-position-x: left;
  background-position-y: top;
  padding: 0.75rem 5rem 3.5rem 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column; }
  @media (max-width: 880px) {
    .timeline {
      padding: 3.5rem 3rem; } }
  @media (max-width: 672px) {
    .timeline {
      padding: 3rem 2rem; } }
  .timeline-head {
    width: 100%;
    height: 12.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    line-height: 3rem;
    font-family: Audiowide, sans-serif;
    color: var(--bgcolor); }
    .timeline-head span {
      padding: 1rem;
      position: relative;
      transition: all var(--transition-time) ease-in-out;
      white-space: nowrap; }
      .timeline-head span::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 25%;
        background-color: rgba(255, 255, 255, 0.25);
        width: 100%;
        height: 40%;
        transition: all var(--transition-time) ease-in-out; }
      .timeline-head span:hover::after {
        top: 0;
        left: 0;
        height: 100%; }
  .timeline-body {
    width: 100%;
    height: 100%;
    padding: 0 5rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; }
    @media (max-width: 880px) {
      .timeline-body {
        padding: 0; } }
  .timeline-bar {
    width: 0.5rem;
    height: 100%;
    background-color: var(--secondary);
    margin: 0 1.5rem;
    border-radius: 500px; }
  .timeline-container {
    width: 80%;
    height: 100%; }
    @media (max-width: 880px) {
      .timeline-container {
        width: 90%; } }
    @media (max-width: 672px) {
      .timeline-container {
        width: 97.5%; } }

.activity {
  width: 75%;
  position: relative;
  padding: 0.5rem 0.5rem 0.5rem 0; }
  @media (max-width: 880px) {
    .activity {
      width: 100%; } }
  .activity::before {
    content: "";
    position: absolute;
    left: -2.5rem;
    top: 40%;
    padding: 0.5rem;
    background-color: var(--bgcolor);
    border: 5px solid var(--blue);
    border-radius: 500px; }
  .activity-frame {
    min-height: 95%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.25rem;
    padding: 0.25rem 0.125rem;
    border-radius: 10px;
    overflow: hidden;
    background: linear-gradient(90deg, var(--green) 4%, var(--blue) 0%) top/100% 34% no-repeat, linear-gradient(90deg, var(--yellow) 50%, var(--blue) 0%) top/100% 82% no-repeat, linear-gradient(90deg, var(--yellow) 10%, var(--red) 0%) top/100% 100%;
    box-shadow: 0 10px 15px rgba(60, 64, 67, 0.3); }
    @media (max-width: 672px) {
      .activity-frame {
        padding: 0.125rem; } }
  .activity-box {
    position: relative;
    height: 99%;
    width: 99%;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--secondary);
    color: var(--bgcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    transition: all var(--transition-time) ease-in-out; }
  .activity-title {
    width: 100%;
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 1rem 1rem 0; }
  .activity-content {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; }

.about {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  background-color: var(--tertiary-700); }
  .about-head {
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    line-height: 3rem;
    font-family: Audiowide, sans-serif;
    color: var(--bgcolor);
    background-color: rgba(0, 0, 0, 0.5);
    clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 50% 100%, 0% 60%); }
    @media (max-width: 880px) {
      .about-head {
        height: 18.75vh; } }
    @media (max-width: 672px) {
      .about-head {
        height: 12.5vh;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); } }
    .about-head span {
      padding: 1rem;
      position: relative;
      transition: all var(--transition-time) ease-in-out;
      white-space: nowrap; }
  .about-body {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center; }
    .about-body-container {
      width: 75%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1rem 0;
      background-blend-mode: darken;
      box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
      transition: all var(--transition-time) ease-in-out; }
      .about-body-container:hover {
        transform: scale(1.05); }
      @media (max-width: 880px) {
        .about-body-container {
          width: 80%; } }
      @media (max-width: 880px) {
        .about-body-container {
          width: 90%; } }
      .about-body-container:nth-child(1) {
        flex-flow: row;
        background-color: rgba(255, 255, 255, 0.5);
        color: var(--tcolor); }
        @media (max-width: 880px) {
          .about-body-container:nth-child(1) {
            flex-flow: column; } }
      .about-body-container:nth-child(2) {
        flex-flow: row-reverse;
        background-color: rgba(0, 0, 0, 0.5);
        color: var(--bgcolor); }
        @media (max-width: 880px) {
          .about-body-container:nth-child(2) {
            flex-flow: column; } }
      .about-body-container:nth-child(3) {
        flex-flow: row;
        background-color: rgba(255, 255, 255, 0.5);
        color: var(--tcolor); }
        @media (max-width: 880px) {
          .about-body-container:nth-child(3) {
            flex-flow: column; } }
      .about-body-container:nth-child(4) {
        flex-flow: row-reverse;
        background-color: rgba(0, 0, 0, 0.5);
        color: var(--bgcolor); }
        @media (max-width: 880px) {
          .about-body-container:nth-child(4) {
            flex-flow: column; } }
      .about-body-container > * {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center; }
        @media (max-width: 880px) {
          .about-body-container > * {
            width: 90%;
            height: 50%; } }
    .about-body-image {
      padding: 1.5rem 0; }
      @media (max-width: 880px) {
        .about-body-image {
          padding: 0.5rem 0; } }
      .about-body-image img {
        max-width: 70%;
        max-height: 70%; }
    .about-body-content {
      padding: 2rem 1rem;
      align-items: flex-start;
      flex-flow: column; }
      @media (max-width: 880px) {
        .about-body-content {
          padding: 0.5rem 1rem 1rem 1rem; } }
      .about-body-content ul {
        margin: 1rem 0; }
      .about-body-content li {
        padding: 0.25rem 0; }
        .about-body-content li::marker {
          content: " > "; }

.events {
  width: 100%;
  min-height: 100vh;
  background-color: var(--tertiary-700);
  display: flex;
  flex-flow: column; }
  .events-head {
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    line-height: 3rem;
    font-family: Audiowide, sans-serif;
    color: var(--bgcolor);
    background-color: rgba(0, 0, 0, 0.5);
    clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 50% 100%, 0% 60%); }
    @media (max-width: 880px) {
      .events-head {
        height: 18.75vh; } }
    @media (max-width: 672px) {
      .events-head {
        height: 12.5vh;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); } }
    .events-head span {
      padding: 1rem;
      position: relative;
      transition: all var(--transiiton-time) ease-in-out;
      white-space: nowrap; }
  .events-body {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center; }
  .events-event {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    overflow: hidden; }
    .events-event:nth-child(1) {
      height: 50vh;
      color: var(--bgcolor); }
      @media (max-width: 672px) {
        .events-event:nth-child(1) {
          height: auto; } }
    .events-event:nth-child(1) .events-event-container {
      flex-flow: row-reverse; }
      @media (max-width: 880px) {
        .events-event:nth-child(1) .events-event-container {
          flex-flow: column; } }
    .events-event:nth-child(2) {
      background-color: rgba(0, 0, 0, 0.5);
      clip-path: polygon(0% 0%, 100% 15%, 100% 85%, 0% 100%);
      height: 70vh;
      color: var(--bgcolor); }
      @media (max-width: 672px) {
        .events-event:nth-child(2) {
          height: auto;
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); } }
    .events-event:nth-child(2) .events-event-container {
      flex-flow: row; }
      @media (max-width: 880px) {
        .events-event:nth-child(2) .events-event-container {
          flex-flow: column; } }
    .events-event:nth-child(3) {
      height: 50vh;
      color: var(--bgcolor); }
      @media (max-width: 672px) {
        .events-event:nth-child(3) {
          height: auto; } }
    .events-event:nth-child(3) .events-event-container {
      flex-flow: row-reverse; }
      @media (max-width: 880px) {
        .events-event:nth-child(3) .events-event-container {
          flex-flow: column; } }
    .events-event:nth-child(4) {
      background-color: rgba(0, 0, 0, 0.5);
      clip-path: polygon(0% 0%, 100% 15%, 100% 85%, 0% 100%);
      height: 70vh;
      color: var(--bgcolor); }
      @media (max-width: 672px) {
        .events-event:nth-child(4) {
          height: auto;
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); } }
    .events-event:nth-child(4) .events-event-container {
      flex-flow: row; }
      @media (max-width: 880px) {
        .events-event:nth-child(4) .events-event-container {
          flex-flow: column; } }
    .events-event:nth-child(5) {
      height: 50vh;
      color: var(--bgcolor); }
      @media (max-width: 672px) {
        .events-event:nth-child(5) {
          height: auto; } }
    .events-event:nth-child(5) .events-event-container {
      flex-flow: row-reverse; }
      @media (max-width: 880px) {
        .events-event:nth-child(5) .events-event-container {
          flex-flow: column; } }
    .events-event:nth-child(6) {
      background-color: rgba(0, 0, 0, 0.5);
      clip-path: polygon(0% 0%, 100% 15%, 100% 85%, 0% 100%);
      height: 70vh;
      color: var(--bgcolor); }
      @media (max-width: 672px) {
        .events-event:nth-child(6) {
          height: auto;
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); } }
    .events-event:nth-child(6) .events-event-container {
      flex-flow: row; }
      @media (max-width: 880px) {
        .events-event:nth-child(6) .events-event-container {
          flex-flow: column; } }
    .events-event:nth-child(7) {
      height: 50vh;
      color: var(--bgcolor); }
      @media (max-width: 672px) {
        .events-event:nth-child(7) {
          height: auto; } }
    .events-event:nth-child(7) .events-event-container {
      flex-flow: row-reverse; }
      @media (max-width: 880px) {
        .events-event:nth-child(7) .events-event-container {
          flex-flow: column; } }
    .events-event:nth-child(8) {
      background-color: rgba(0, 0, 0, 0.5);
      clip-path: polygon(0% 0%, 100% 15%, 100% 85%, 0% 100%);
      height: 70vh;
      color: var(--bgcolor); }
      @media (max-width: 672px) {
        .events-event:nth-child(8) {
          height: auto;
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); } }
    .events-event:nth-child(8) .events-event-container {
      flex-flow: row; }
      @media (max-width: 880px) {
        .events-event:nth-child(8) .events-event-container {
          flex-flow: column; } }
    .events-event:nth-child(9) {
      height: 50vh;
      color: var(--bgcolor); }
      @media (max-width: 672px) {
        .events-event:nth-child(9) {
          height: auto; } }
    .events-event:nth-child(9) .events-event-container {
      flex-flow: row-reverse; }
      @media (max-width: 880px) {
        .events-event:nth-child(9) .events-event-container {
          flex-flow: column; } }
    .events-event:nth-child(10) {
      background-color: rgba(0, 0, 0, 0.5);
      clip-path: polygon(0% 0%, 100% 15%, 100% 85%, 0% 100%);
      height: 70vh;
      color: var(--bgcolor); }
      @media (max-width: 672px) {
        .events-event:nth-child(10) {
          height: auto;
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); } }
    .events-event:nth-child(10) .events-event-container {
      flex-flow: row; }
      @media (max-width: 880px) {
        .events-event:nth-child(10) .events-event-container {
          flex-flow: column; } }
    .events-event-container {
      width: 80%;
      max-height: 80%;
      display: flex;
      justify-content: center;
      align-items: center; }
      @media (max-width: 672px) {
        .events-event-container {
          width: 90%; } }
      .events-event-container > * {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column; }
        @media (max-width: 880px) {
          .events-event-container > * {
            width: 90%;
            height: 50%; } }
        @media (max-width: 880px) {
          .events-event-container > * {
            width: 100%; } }
    .events-event-image {
      height: 100%;
      padding: 1.5rem 0; }
      @media (max-width: 880px) {
        .events-event-image {
          padding: 0.5rem 0; } }
      .events-event-image img {
        max-width: 70%;
        max-height: 70%; }
    .events-event-content {
      height: 100%;
      align-items: flex-start;
      flex-flow: column; }
      @media (max-width: 880px) {
        .events-event-content {
          padding: 0.5rem 1rem 1rem 1rem; } }
      .events-event-content > * {
        width: 100%;
        height: 25%;
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        @media (max-width: 880px) {
          .events-event-content > * {
            justify-content: center; } }
      .events-event-content__title {
        font-size: 2.25rem;
        line-height: 2.5rem;
        text-transform: uppercase;
        padding: 0.5rem; }
      .events-event-content__about {
        height: 50%;
        padding: 1rem 0.5rem;
        text-align: justify;
        max-height: 6rem;
        overflow: hidden;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start; }
        @media (max-width: 672px) {
          .events-event-content__about {
            padding: 0.5rem; } }
      .events-event-content ul {
        margin: 1rem 0; }
      .events-event-content li {
        padding: 0.25rem 0; }
        .events-event-content li::marker {
          content: " > "; }

.event {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-blend-mode: lighten;
  background-color: rgba(255, 255, 255, 0.25); }
  .event-mac {
    width: 95%;
    height: 90%;
    border-radius: 8px;
    background-color: var(--mac-bgcolor);
    color: var(--bgcolor);
    overflow: hidden;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12); }
    .event-mac-head {
      width: 100%;
      height: 2.15rem;
      height: 5%;
      background-color: rgba(255, 255, 255, 0.25);
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .event-mac-head-buttons {
        color: var(--tcolor);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0.5rem; }
      .event-mac-head__button {
        border-radius: 500px;
        width: 0.875rem;
        height: 0.875rem;
        margin: 0 0.25rem;
        display: flex;
        justify-content: center;
        align-items: center; }
        .event-mac-head__button:nth-child(1) {
          background-color: var(--mac-red); }
        .event-mac-head__button:nth-child(2) {
          background-color: var(--mac-yellow); }
        .event-mac-head__button:nth-child(3) {
          background-color: var(--mac-green); }
        .event-mac-head__button .material-icons {
          width: 100%;
          height: 100%;
          font-size: 0.75rem;
          opacity: 0;
          transition: all var(--transition-time) ease-in-out; }
        .event-mac-head__button:hover .material-icons {
          opacity: 1; }
      .event-mac-head-title {
        text-align: center;
        font-size: 1.25rem; }
      .event-mac-head-switch {
        width: 5.125rem;
        display: flex;
        justify-content: flex-end;
        align-items: center; }
        .event-mac-head-switch__button {
          padding: 0 0.5rem;
          background-color: transparent; }
          .event-mac-head-switch__button .material-icons {
            opacity: 1; }
    .event-mac-body {
      width: 100%;
      height: 95%;
      position: relative; }
      .event-mac-body-buttons {
        position: absolute;
        right: 1rem;
        top: 1rem; }
      .event-mac-body__button {
        background-color: var(--mac-bgcolor);
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 500px;
        padding: 0.5rem;
        margin: 0.25rem 0.5rem;
        cursor: pointer;
        transition: all var(--transition-time) ease-in-out; }
        .event-mac-body__button:hover {
          border: 1px solid rgba(255, 255, 255, 0.5); }
        .event-mac-body__button:active, .event-mac-body__button:focus {
          border: 1px solid rgba(255, 255, 255, 0.5); }
        .event-mac-body__button .material-icons {
          width: 100%;
          height: 100%;
          font-size: 1.25rem; }
      .event-mac-body-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
        @media (max-width: 880px) {
          .event-mac-body-container {
            flex-flow: column; } }
      .event-mac-body-images {
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-flow: column;
        overflow: hidden;
        background-size: cover;
        position: relative; }
        @media (max-width: 880px) {
          .event-mac-body-images {
            width: 100%;
            height: 45%;
            flex-flow: row;
            flex-wrap: wrap; } }
        .event-mac-body-images__img {
          object-fit: cover;
          max-width: 85%;
          max-height: 30%;
          background: transparent;
          transition: all var(--transition-time) ease-in-out; }
          @media (max-width: 880px) {
            .event-mac-body-images__img {
              max-width: 25%;
              max-height: 85%; } }
          @media (max-width: 672px) {
            .event-mac-body-images__img {
              max-width: 50%;
              max-height: 50%; } }
          .event-mac-body-images__img:hover {
            transform: scale(1.05) translateY(-0.5rem); }
        .event-mac-body-images__Img {
          object-fit: cover;
          max-width: 85%;
          max-height: 85%; }
      .event-mac-body-content {
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-flow: column; }
        @media (max-width: 880px) {
          .event-mac-body-content {
            width: 100%;
            height: 55%; } }
      .event-mac-body-head {
        width: 97.5%;
        height: 15%;
        padding: 1rem 1.5rem;
        font-size: 2.5rem;
        line-height: 3rem;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: flex-start; }
        .event-mac-body-head__text {
          width: 100%; }
      .event-mac-body-details {
        width: 97.5%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-flow: column;
        padding: 1rem 1.5rem;
        color: var(--mac-tcolor);
        overflow-x: hidden;
        overflow-y: auto; }
      .event-mac-body-about__content {
        padding: 0.5rem 0; }
        .event-mac-body-about__content h4 {
          padding: 0.35rem 0;
          font-size: 1.1rem; }
      .event-mac-body-about-mode {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0.5rem 0; }
        .event-mac-body-about-mode > * {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding: 0 0.5rem 0 0; }
        .event-mac-body-about-mode__text {
          padding: 0 0.5rem; }
      .event-mac-body-rules__ul {
        list-style: none;
        padding: 0 2rem; }
      .event-mac-body-rules__li {
        padding: 0.5rem;
        margin: 0 0.5rem; }
        .event-mac-body-rules__li::marker {
          content: " > ";
          color: var(--bgcolor); }
      .event-mac-body-prizes {
        width: 100%; }
        .event-mac-body-prizes__ul {
          width: 100%;
          list-style: none;
          padding: 0 2rem; }
          @media (max-width: 672px) {
            .event-mac-body-prizes__ul {
              padding: 0 0.75rem; } }
        .event-mac-body-prizes__li {
          padding: 0.5rem;
          margin: 0 0.5rem;
          display: flex;
          justify-content: flex-start;
          align-items: center; }
        .event-mac-body-prizes__image {
          width: 15%;
          height: 100%; }
        .event-mac-body-prizes__img {
          object-fit: cover;
          max-width: 100%;
          max-height: 100%; }
        .event-mac-body-prizes__text {
          width: 85%;
          height: 100%;
          padding: 0 1rem; }

.all-events {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.9); }
  .all-events-container {
    width: 95%;
    height: 80%;
    color: var(--bgcolor); }
  .all-events-head {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .all-events-head__button {
      padding: 1rem; }
      .all-events-head__button .material-icons {
        font-size: 2rem; }
  .all-events-box {
    width: 100%;
    height: 80%; }
  .all-events-link {
    padding: 2rem;
    font-family: Audiowide, sans-serif;
    font-size: 3rem;
    line-height: 3rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }

button {
  background: none;
  color: inherit;
  border: none;
  outline: none;
  font: inherit;
  text-decoration: inherit;
  text-transform: inherit;
  text-shadow: inherit;
  text-rendering: inherit;
  text-size-adjust: inherit;
  text-indent: inherit;
  text-align: inherit;
  appearance: inherit; }
  button:hover, button:active, button:focus, button:focus-visible, button:focus-within {
    border: none;
    outline: none; }

.btn {
  margin: 0.25rem 0.5rem;
  padding: 0.825rem 1.375rem;
  background-color: transparent;
  border: 5px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 550;
  cursor: pointer;
  user-select: none;
  line-height: 1.5;
  transition: all var(--transition-time) ease-in-out;
  background-color: var(--indigo);
  color: var(--bgcolor);
  position: relative;
  overflow: hidden;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  font-family: "Google Sans", Cabin, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
  .btn::before {
    content: "";
    position: absolute;
    top: 5%;
    left: 50%;
    width: 2.75rem;
    height: 3rem;
    border-radius: 15px 25px 20px 17.5px;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 0;
    transition: all var(--transition-time) ease-in-out;
    animation: wavy 10s linear infinite; }
  @media (max-width: 672px) {
    .btn {
      padding: 0.6rem 0.75rem; } }
  .btn:hover {
    border: 5px solid rgba(255, 255, 255, 0.1); }
    .btn:hover::before {
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.1);
      top: 0;
      left: 0;
      border-radius: 0;
      animation: none; }
  .btn:active, .btn:focus {
    border: 5px solid rgba(0, 0, 0, 0.5); }
  .btn-sm {
    font-size: 0.875rem;
    padding: 0.6rem 1rem;
    font-weight: 400;
    border: 3.5px solid rgba(0, 0, 0, 0.5); }
    .btn-sm:hover {
      border: 3.5px solid rgba(255, 255, 255, 0.1); }
  .btn-lg {
    font-size: 1.125rem;
    padding: 1rem 1.6rem;
    font-weight: 550;
    border: 7.5px solid rgba(0, 0, 0, 0.5); }
    .btn-lg:hover {
      border: 7.5px solid rgba(255, 255, 255, 0.1); }

@keyframes wavy {
  0% {
    transform: rotate(0deg);
    left: 0%; }
  10% {
    transform: rotate(36deg);
    left: 16%; }
  20% {
    transform: rotate(72deg);
    left: 32%; }
  30% {
    transform: rotate(108deg);
    left: 48%; }
  40% {
    transform: rotate(144deg);
    left: 64%; }
  50% {
    transform: rotate(180deg);
    left: 80%; }
  60% {
    transform: rotate(216deg);
    left: 64%; }
  70% {
    transform: rotate(252deg);
    left: 48%; }
  80% {
    transform: rotate(288deg);
    left: 32%; }
  90% {
    transform: rotate(234deg);
    left: 16%; }
  100% {
    transform: rotate(360deg);
    left: 0%; } }

input,
textarea {
  font: inherit;
  text-rendering: auto;
  background-color: var(--bgcolor);
  color: var(--tcolor);
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: inherit;
  text-indent: inherit;
  text-shadow: inherit;
  display: inline-block;
  text-align: start;
  appearance: auto;
  cursor: text;
  padding: 0.5rem; }
  input, input:hover, input:focus, input:active, input:focus-within, input:focus-visible,
  textarea,
  textarea:hover,
  textarea:focus,
  textarea:active,
  textarea:focus-within,
  textarea:focus-visible {
    border: none;
    outline: none; }

input,
textarea {
  border: none;
  outline: 3px solid transparent;
  border-radius: 2px;
  background-color: var(--bgcolor-400);
  margin: 0.5rem;
  padding: 0.5rem;
  resize: none;
  transition: all var(--transition-time) ease-in-out; }
  input:hover,
  textarea:hover {
    border: none;
    outline: 3px solid transparent; }
  input:active, input:focus,
  textarea:active,
  textarea:focus {
    border: none;
    outline: 3px solid rgba(0, 0, 0, 0.2); }
  input::placeholder,
  textarea::placeholder {
    font-size: 0.875rem; }

.scroll-to-top {
  background-color: var(--primary-2);
  color: var(--tcolor);
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 2000;
  border: none;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  width: 3.5rem;
  overflow: visible;
  transition: all var(--transition-time) ease-in-out; }
  .scroll-to-top:hover {
    background-color: var(--primary-1);
    color: var(--tcolor); }
  .scroll-to-top:active, .scroll-to-top:focus {
    outline: none;
    background-color: var(--primary-4);
    color: var(--bgcolor); }

.snackbar {
  background-color: var(--tcolor-400);
  color: var(--bgcolor);
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  z-index: 2000;
  border-radius: 5px;
  padding: 0.5rem 0.25rem;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 5rem;
  height: 3.5rem;
  overflow: hidden;
  transform: all var(--transition-time) ease-in-out; }
  .snackbar-text {
    width: 100%;
    height: 100%;
    padding: 0.5rem 2rem 0.5rem 1rem;
    background: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center; }

.material-icons {
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; }

.dispn {
  display: none !important; }
